<div class="py-2">
  Chất liệu 
  <i class="fa-solid fa-chevron-right mx-3"></i>
  {{ product.design.material }}
</div>
<div class="py-2">
  Xuất xứ
  <i class="fa-solid fa-chevron-right mx-3"></i>
  {{ product.origin.address }}
</div>
<div class="py-2">
  Kiểu dáng
  <i class="fa-solid fa-chevron-right mx-3"></i>
  {{ product.design.style }}
</div>
<div class="py-2">
  Mẫu
  <i class="fa-solid fa-chevron-right mx-3"></i>
  {{ product.design.model }}
</div>
<div class="py-2">
  Kích thước
  <i class="fa-solid fa-chevron-right mx-3"></i>
  {{ product.size }}
</div>
<div class="py-2">
  Màu sắc
  <i class="fa-solid fa-chevron-right mx-3"></i>
  {{ product.color }}
</div>